@{
    ViewData["Title"] = "About Us";
}
@* OCT 14 7:40 Began programming the about us page *@
<h1 class="title">About Us</h1>
<div class="aboutUsWrapper">
    <h1 class="title"> Wood Art Inc - Toronto, Ontario</h1>
    <p>We are a small family-owned corporation out of Toronto, Ontario here to deliver the best custom wood products on the market. <br />We opened in 2020 and have grown exponentially to distribute to the entire country.</p>
    <p>We have a wide selection of products:</p>
    <ul>
        <li>Cutting Boards</li>
        <li>Coasters</li>
        <li>Outdoor Chairs</li>
        <li>Custom Cabinets</li>
        <li>Office Desks</li>
        <li>Shelves</li>
        <li>Night Stands</li>
        <li>Dressers</li>
        <li>Dinner Tables</li>
        <li>Coffee Tables</li>
        <li><b>And custom creations to suit your needs</b></li>
    </ul>
    <h1 class="title">The Team</h1>
    <div class="team-member">
        <h3 class="member-title">Nicholas Langley - CEO</h3>
        <p>Chief Executive Officer</p>
        <p>The owner and operator of this company. He has been here since the beginning. Before going nation-wide he would craft the company's products by hand in his own basement.</p>
    </div>
    <div class="team-member">
        <h3 class="member-title">Allan Langley - COO</h3>
        <p>Chief Operating Officer</p>
        <p>Another owner of the company who has been here since the beginning. His hard work and wisdom has guided this business to where it is today.</p>
    </div>
    <div class="team-member">
        <h3 class="member-title">Jonathan Langley - CFO</h3>
        <p>Chief Financial Officer</p>
        <p>Jonathan has played a crucial part in the business by guiding the financial growth of the company.</p>
    </div>
    <div class="team-member">
        <h3 class="member-title">Kathryn Langley - Business Development</h3>
        <p>Head of Business Development/Marketing</p>
        <p>Kathryn leads marketing campaign for the business and overseas the chains of distribution.</p>
    </div>
</div>
