@{
    ViewData["Title"] = "Home Page";
}
@* OCT 14 8:00 Began programming the home page *@
<h1 class="title">Home</h1>
<div class="wrapper">
    <h1 class="title">Wood Art Inc.</h1>
    <h3 class="sub-title">Toronto, Ontario</h3>
    <p>Welcome!</p>
    <p>We are a Canadian business originating from Windsor, Ontario here to provide the highest quality custom wood products on the market.</p>
    <p>Have a look at some of our products below, and if you like what you see view them in more detail <a asp-controller="Products" asp-action="Index">HERE</a></p>
    <p>We guarantee the highest customer satisfaction!</p>
    @* Added in 2 images to be displayed ontop of eachother*@
    <img id="deskpic"src="~/images/desk.jpg" />
    <img id="coffee-table" src="~/images/coffeeTable.jpg" />
</div>
